<!DOCTYPE html>
<html>
  <head>
    <title><%- title %></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    
    <!--  
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `link` tags, or asynchronously
        on the client using a solution like AMD (RequireJS).  Or, if you like, you can
        take advantage of Sails' boilerplate asset management.

        By default, tylesheets from your `assets/linker/styles` folder are included
        here automatically.  Both CSS (.css) and LESS (.less) are supported.
        In production, your styles will be minified and concatenated into a single file.
        
        To customize any part of the built-in behavior, just edit your Gruntfile.
        For example, here are a few things you could do:
            
            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <!--STYLES-->
    <link rel="stylesheet" href="/linker/styles/bootstrap.css">
    <link rel="stylesheet" href="/linker/styles/custom.css">
    <link rel="stylesheet" href="/linker/styles/d3-ex1.css">
    <link rel="stylesheet" href="/linker/styles/jquery-ui-1.10.4.custom.min.css">
    <link rel="stylesheet" href="/linker/styles/jquery-ui-1.10.4.min.css">
    <link rel="stylesheet" href="/linker/styles/jquery.handsontable.full.css">
    <link rel="stylesheet" href="/linker/styles/jsplumb.css">
    <link rel="stylesheet" href="/linker/styles/searchFilter.css">
    <link rel="stylesheet" href="/linker/styles/smoothness/jquery-ui-1.10.4.custom.css">
    <link rel="stylesheet" href="/linker/styles/smoothness/jquery-ui-1.10.4.custom.min.css">
    <link rel="stylesheet" href="/linker/styles/ui.jqgrid.css">
    <link rel="stylesheet" href="/linker/styles/ui.multiselect.css">
    <!--STYLES END-->

    <!--Added this so the client has access to the csrf tag and it's grabbed first service side on every page -->
    <script type="text/javascript">
      window.overlord = { csrf: "<%= _csrf %>" };
	  window.myCurrentResult = -1;
    </script>

    <!-- The sound file tht will play on activity events -->
    <audio id="chatAudio">
      <source src="/sounds/notify.ogg" type="audio/ogg">
      <source src="/sounds/notify.mp3" type="audio/mpeg">
      <source src="/sounds/notify.wav" type="audio/wav">
    </audio>

  </head>

  <body style="overflow-x:hidden">

    <div class="navbar navbar-inverse navbar-fixed-top" >
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Simulocyte</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <% if (session.authenticated) { %>
              <li class="active"><a href="/user/show/<%= session.User.id %>"><%= session.User.name %> </a> </li>
            <% } %>
            <% if (session.authenticated && session.User.admin) { %>
            <li><a href="/user">User Administration</a></li>
            <li><a href="/metabolic_net/index">Metabolic nets</a></li>
			<li><a href="/qsspn_model/index">QSSPN models</a></li>
			<li><a href="/experiment/index">QSSPN Experiments</a></li>
            <% } %>
          </ul>
          <div class="navbar-right">
            <% if (session.authenticated) { %>
              <a class="btn btn-default navbar-btn navbar-right" href="/session/destroy">sign-out</a>
            <% } %>
          </div>
          <% if (!session.authenticated) { %>
            <form class="navbar-form navbar-right" action="/session/create">
            <div class="form-group">
              <input type="text" placeholder="Email" name="email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" name="password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
            <input type="hidden" name="_csrf" value="<%= _csrf %>" />
          </form>
          <% } %>
        </div>
      </div>
    </div>
    
    

    <!-- <div class="container">
      <hr>
      <footer class="footer pull-right">
        <div>
          <a href="http://sailsjs.com/">sails.js</a> 
          <div>tutorial by irl nathan, with a bunch of help from cody, gabe, heather, mike, scott and zoli</div>
        </div>
      </footer>
    </div>-->

    <!--
        Client-side Templates
        ========================

    		HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
        that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/linker/templates` folder, then
        include them here automatically.
        
        To customize this behavior to fit your needs, just edit your Gruntfile.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different template engine (handlebars, jade, dust, etc.)
            + Internationalize your templates using a server-side stringfile
              before they're served.
    -->

    <!--TEMPLATES-->
    <script type="text/javascript" src="/jst.js"></script>
    <!--TEMPLATES END-->


    <!--

      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can 
      take advantage of Sails' boilerplate asset management.

      By default, filesin your `assets/linker/js` folder are included here
      automatically.  Both JavaScript (.js) and CoffeeScript (.coffee) are supported.
      In production, your scripts will be minified and concatenated into a single file.
      
      To customize any part of the built-in behavior, just edit your Gruntfile.
      For example, here are a few things you could do:
          
          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript

    -->

    <!--SCRIPTS-->
    <script src="/linker/js/socket.io.js"></script>
    <script src="/linker/js/sails.io.js"></script>
    <script src="/linker/js/jquery.js"></script>
    <script src="/linker/js/jquery.validate.min.js"></script>
    <script src="/linker/js/jquery.jqGrid.min.js"></script>
    <script src="/linker/js/grid.locale-en.js"></script>
    <script src="/linker/js/jquery.handsontable.full.js"></script>
    <script src="/linker/js/app.js"></script>
    <script src="/linker/js/three.js"></script>
    <script src="/linker/js/hilbert3D.js"></script>
    <script src="/linker/js/Mirror.js"></script>
    <script src="/linker/js/WebGLDeferredRenderer.js"></script>
    <script src="/linker/js/ShaderDeferred.js"></script>
    <script src="/linker/js/BleachBypassShader.js"></script>
    <script src="/linker/js/BlendShader.js"></script>
    <script src="/linker/js/HorizontalTiltShiftShader.js"></script>
    <script src="/linker/js/VerticalTiltShiftShader.js"></script>
    <script src="/linker/js/TriangleBlurShader.js"></script>
    <script src="/linker/js/VignetteShader.js"></script>
    <script src="/linker/js/CopyShader.js"></script>
    <script src="/linker/js/FXAAShader.js"></script>
    <script src="/linker/js/ConvolutionShader.js"></script>
    <script src="/linker/js/EffectComposer.js"></script>
    <script src="/linker/js/RenderPass.js"></script>
    <script src="/linker/js/ShaderPass.js"></script>
    <script src="/linker/js/SavePass.js"></script>
    <script src="/linker/js/MaskPass.js"></script>
    <script src="/linker/js/BloomPass.js"></script>
    <script src="/linker/js/dat.gui.min.js"></script>
    <script src="/linker/js/Detector.js"></script>
    <script src="/linker/js/stats.min.js"></script>
    <script src="/linker/js/BokehShader2.js"></script>
    <script src="/linker/js/d3.min.js"></script>
    <script src="/linker/js/sankey.js"></script>
    <script src="/linker/js/MyOrbitControls.js"></script>
    <script src="/linker/js/KeyboardState.js"></script>
    <script src="/linker/js/tween.min.js"></script>
    <script src="/linker/js/dom.jsPlumb-1.6.2.js"></script>
    <script src="/linker/js/cubism.v1.min.js"></script>
    <script src="/linker/js/arbor.js"></script>
    <script src="/linker/js/cytoscape.min.js"></script>
    <script src="/linker/js/bootstrap.js"></script>
    <script src="/linker/js/customValidate.js"></script>
    <script src="/linker/js/d3.hive.v0.min.js"></script>
    <script src="/linker/js/grid.addons.js"></script>
    <script src="/linker/js/grid.postext.js"></script>
    <script src="/linker/js/grid.setcolumns.js"></script>
    <script src="/linker/js/helvetiker_regular.typeface.js"></script>
    <script src="/linker/js/jquery-ui-1.10.4.custom.min.js"></script>
    <script src="/linker/js/jquery-ui-1.10.4.min.js"></script>
    <script src="/linker/js/jquery.contextmenu.js"></script>
    <script src="/linker/js/jquery.searchFilter.js"></script>
    <script src="/linker/js/jquery.tablednd.js"></script>
    <script src="/linker/js/raphael-min.js"></script>
    <script src="/linker/js/ui.multiselect.js"></script>
    <script src="/linker/js/underscore.js"></script>
    <!--SCRIPTS END-->
	
	<script>
	
	</script>
	<%- body %>
  </body>
</html>
