<div class='container'>
	<div class="jumbotron">
	<h1><%= user.title %> <%= user.name %> </h1>
	<% if (user.admin) { %>
		<img src="/images/admin.png">admin
	<% } else { %>
			<img src="/images/pawn.png">guest
	<% } %>		
	
	<h2>contact: <%= user.email %> </h2>
	<a class="btn btn-medium btn-primary" href="/user/edit/<%= user.id %>">Edit</a>
	</div>
	<hr>
	
	<h2>Created Labs: </h2>
	<div class="center-block" style="background-color:#F8F8F8;">
	<table class='table table-bordered table-condensed'>
		<tr>
			<th>Name</th>
			<th>Comment</th>
			<th><a class="btn btn-sm btn-success" href="/lab/new">Create new Lab</a></th>
		</tr>
	
	<% _.each(ownlabs, function(elem) { %>
		<tr><td><%= elem[0] %></td><td></td><td><a href="/lab/edit/<%=elem[1]%>" class="btn btn-sm btn-primary">Show/Edit Lab</a></td>
	<% }) %>
	</table>
	</div>
	<hr>
	<h2>Member of Labs: </h2>
	<div class="center-block" style="background-color:#F8F8F8;">
	<table class='table table-bordered table-condensed'>
		<tr>
			<th>Name</th>
			<th>Comment</th>
			<th>Action</th>
		</tr>
	
	<% _.each(inlabs, function(elem) { %>
		<tr><td><%= elem[0] %></td><td></td><td><a href="/lab/show/<%=elem[1]%>" class="btn btn-sm btn-primary">Show Lab</a></td>
	<% }) %>
	</table>
	</div>
	<hr>
	
	<div id="container" style="position: absolute;left: 0px;"></div>
		
	<script>

			

	</script>
</div>