<br><br>
<form action="/fbaexperiment/update/<%= exp.id %>" id="experiment-edit-form" method="POST" class="form-signin">
	<h1>FBA Experiment </h1>
	<hr>
	<h2>Name: <%= exp.name %> </h2>
	<hr>
	<h3>Comment: </h3>
	<%= exp.comment %>
	<hr>

	<h2 class="form-signin-heading">Add simulation with new conditions</h2>
	<%
	var resultsMessage=" - No results yet.";
	var lResults=JSON.stringify([]);
	var expID=exp.id;
	%>
	<input type="text" name="newresults" id ="newresults" style="visibility: hidden;" value=<%=lResults%>>
	<input type="text" name="expid" id ="expid" style="visibility: hidden;" value=<%=expID%>>
	<div class="tbl_container" style="overflow:auto; height: 300px;">
		<table class='table table-bordered' style="text-align:left" id="mytable">
			<tr>
				
				<th>Simulation: Result Nb<%if (JSON.stringify(exp.results)=="[]") {%><%= resultsMessage %><%}%></th>
				<th>Status</th><th></th>
				<!-- <th style="width:150"><button type="button" class="btn btn-primary btn-sm  btn-block" id="createNewSimButton" onclick="createNewSimRow()">Add New Experimental Condition</button></th> -->
			</tr>
			<% _.each(exp.results, function(res,ind) { %>
			<tr>
				
				<td style="font-size:15px;"><b>Simulation nb <%= res.nb %></b></td>
				<td style="font-size:15px;"><%= res.status %></td>
				<td>
					<a href="/fbaexperiment/showresult/<%= exp.id %>" class="btn btn-sm btn-success" id="<%= res.nb %>" onclick="showRes(<%= res.nb %>)">Show</a>
				</td>
			</tr> 
			<% }) %>
		</table>
	</div>
	<br><b>Experiment parameters:</b>
	<p>
	  <br>Method:<br>
	  <select class="form-control" name="method">
	  	<option value="objstat">Objective value</option>
	  	<option value="fba">Flux Balance Analysis</option>
	  	<option value="fva">Flux Variability Analysis</option>
	  </select>
	  <br>Objective:<br>
	  <input type="text" name="objective" id="objective" value=<%= exp.objective %>>
	  <br>Externality tag:<br>
	  <input type="text" name="xt" id="xt" value=<%= exp.externality_tag %>>
     
     <% var InputdataSfba=JSON.stringify([]); %>

     <br>Bounds. <br><i>The bounds set below will overwite bounds set in the model. Other bounds will be taken from the model.</i>
     <input type="text"  name="mySfbaSpreadsheet0" id ="mySfbaSpreadsheet0" style="visibility: hidden;" value=<%=InputdataSfba%>>
     <input type="text"  name="mySfbaSpreadsheet1" id ="mySfbaSpreadsheet1" style="visibility: hidden;" value="">
     <input type="text"  name="mySfbaSpreadsheet2" id ="mySfbaSpreadsheet2" style="visibility: hidden;" value="">
     <input type="text"  name="mySfbaSpreadsheet3" id ="mySfbaSpreadsheet3" style="visibility: hidden;" value="">
     <input type="text"  name="mySfbaSpreadsheet4" id ="mySfbaSpreadsheet4" style="visibility: hidden;" value="">
     <input type="text"  name="mySfbaSpreadsheet5" id ="mySfbaSpreadsheet5" style="visibility: hidden;" value="">
     <input type="text"  name="mySfbaSpreadsheet6" id ="mySfbaSpreadsheet6" style="visibility: hidden;" value="">
     <input type="text"  name="mySfbaSpreadsheet7" id ="mySfbaSpreadsheet7" style="visibility: hidden;" value="">
     <input type="text"  name="mySfbaSpreadsheet8" id ="mySfbaSpreadsheet8" style="visibility: hidden;" value="">
     <input type="text"  name="mySfbaSpreadsheet9" id ="mySfbaSpreadsheet9" style="visibility: hidden;" value="">
     <div id="sfbaTable"></div>
    </p>
	<input type="submit" value="Proceed" class="btn btn-lg btn-primary"/> <a href="/fbaexperiment/show/<%= exp.id %>" class="btn btn-lg btn-primary">Cancel</a>
<input type="hidden" name="_csrf" value="<%= _csrf %>" />
</form>	

<script>
	console.log("FBA EXPERIMENT edit.ejs, script section");
	
	function showRes(myid) {
		localStorage.setItem('myCurrentResult',myid);
	     //window.myCurrentResult = myid;
		 //console.log(localStorage.getItem('myCurrentResult'));
	}

	
	var bounds =<%- JSON.stringify(exp.parameters[0])%>
	console.log("FBA EXPERIMENT edit.ejs, BOUNDS:" + bounds);
	var dataSfba=[];
	var $container13 = $("#sfbaTable");
	$container13.handsontable({
	  data: [],
	  width: $("#qsspn-model-sign-up-form").width(),
	  height:200,
	  dataSchema: {name: null, lb: null, ub:null, comment:null},
	  startRows: 5,
	  startCols: 4,
	  colHeaders: ['Reaction name','Lower bound','Upper bound','Comment'],
	  columns: [
	    {data: "name"},
	    {data: "lb"},
	    {data: "ub"},
		{data: "comment"}
	  ],
	  afterChange: function(changes, source) {
	    //console.log(this.getData());
		var dt = this.getData();
		
		for (var i=0, j= dt.length;i<j-1;i++){
			dataSfba[i]=new Array(4);
			dataSfba[i][0]=dt[i].name;
			dataSfba[i][1]=dt[i].lb;
			dataSfba[i][2]=dt[i].ub;
			dataSfba[i][3]=dt[i].comment;
		}
		
			var mlength=JSON.stringify(dataSfba).length;
			var nbArrays=1;
			if (mlength>524288){
				nbArrays=parseInt(Math.ceil(mlength/524288.0));
			}
			if (nbArrays==1){
				document.getElementById("mySfbaSpreadsheet0").value=JSON.stringify(dataSfba);
			}
			else{
				var stringSfba=JSON.stringify(dataSfba);
				var chunksize=524288;
				var stringChunks=[];
				//console.log(mlength)
				for (var i=0;i<nbArrays;i++){
					stringChunks.push(stringSfba.substring((i*(chunksize-1)), ((i+1)*(chunksize-1))));
					document.getElementById("mySfbaSpreadsheet"+i).value=stringChunks[i];
					//console.log(((i*(chunksize-1)))  +"  "+ (((i+1)*(chunksize-1))))
					console.log(document.getElementById("mySfbaSpreadsheet"+i).value.length)
				}
				//console.log(stringChunks)
			}
		
		//console.log(JSON.stringify(dataSfba));
		//dataJson.places.push()
	  },
	  minSpareRows: 1
	});
	
	var tempdt=<%- JSON.stringify(exp.parameters)%>;	
	var ht = $('#sfbaTable').handsontable('getInstance');
	if ($.isArray(tempdt) && tempdt[0] && $.isArray(tempdt[0])){
		ht.populateFromArray (0, 0, tempdt,tempdt.length-1, 3);
	}
	
	
	
</script>


